<template>
	<h1>Suggestions</h1>
	<div
		v-for="rec in recs"
		:key="rec.title"
		class="card"
	>
		<CdxCard
			:thumbnail="rec.thumbnail"
			:force-thumbnail="true"
			:class="{ 'feel-good': rec.feel === 1, 'feel-bad': rec.feel === -1 }"
		>
			<template #title>
				<b>{{ rec.title.replace( /_/g, ' ' ) }}</b>
			</template>
			<template #description>
				<i>{{ rec.description }}</i>
			</template>
			<template #supporting-text>
				<span>{{ rec.extract }}</span>
			</template>
		</CdxCard>

		<div class="buttons">
			<CdxButton size="large" @click="up( rec )">
				&#128077;
			</CdxButton>
			<CdxButton size="large" @click="down( rec )">
				&#128078;
			</CdxButton>
		</div>
	</div>
	<CdxButton
		class="button-next"
		size="large"
		action="progressive"
		weight="primary"
		@click="next"
	>
		NEXT
	</CdxButton>
</template>

<script setup>
import { ref } from 'vue';
import { CdxButton, CdxCard } from '@wikimedia/codex';
import { recordVotes, getRecs } from '../api.js';
import { getUser, getLang } from '../util.js';

const lang = getLang();
const recs = ref( [] );

function up( rec ) {
	rec.feel = rec.feel === 1 ? 0 : 1;
}

function down( rec ) {
	rec.feel = rec.feel === -1 ? 0 : -1;
}

function next() {
	const feels = {};
	recs.value.forEach( ( r ) => {
		feels[ r.title ] = r.feel || 0;
	} );
	loadRecs( feels );
}

function loadRecs( votes = {} ) {
	const user = getUser();
	recordVotes( user, lang, [], votes ).then( () => {
		return getRecs( user, lang ).then( ( summaries ) => {
			recs.value = summaries;
		} );
	} );
}
loadRecs();
</script>

<style scoped>
.card {
	position: relative;
	margin-bottom: 10px;
}

.card .buttons {
	display: inline-block;
	position: absolute;
	top: 13px;
	right: 13px;
}

.card .buttons .cdx-button:first-child {
	margin-right: 13px;
}

.feel-good {
	background-color: #c8e8c8;
}

.feel-bad {
	background-color: #f0a6a6;
}

.button-next {
	position: absolute;
	top: 20px;
	right: 20px;
}
</style>
