<template>
	<h1>Suggestions</h1>
	<div>
		<p>
			Start by searching for a topic you would
			like to read about. Then you will be
			presented with reading suggestions and asked
			to rate them.
		</p>
		<CdxLookup
			v-model:selected="selectedItem"
			:menu-items="searchResults"
			:menu-config="menuConfig"
			placeholder="Search topic..."
			@input="onInput"
			@update:selected="onUpdateSelected"
		/>
	</div>
</template>

<script>
import { defineComponent, ref } from 'vue';
import { CdxLookup } from '@wikimedia/codex';
import { useRouter } from 'vue-router';
import { getUser, getLang } from '../util.js';
import { recordVotes } from '../api.js';

const lang = getLang();

export default defineComponent( {
	name: 'StartView',
	components: { CdxLookup },
	setup() {
		const router = useRouter();

		const searchResults = ref( [] );
		const currentSearchTerm = ref( '' );
		const selectedItem = ref( null );

		function onInput( value ) {
			currentSearchTerm.value = value;

			if ( !value || value === '' ) {
				searchResults.value = [];
				return;
			}

			function adaptApiResponse( pages ) {
				return pages.map( ( { title, description, thumbnail } ) => ( {
					label: title,
					value: title,
					description: description,
					url: '',
					thumbnail: thumbnail ? {
						url: thumbnail.url,
						width: thumbnail.width,
						height: thumbnail.height
					} : undefined
				} ) );
			}

			fetch(
				`https://${lang}.wikipedia.org/w/rest.php/v1/search/title?q=${encodeURIComponent( value )}&limit=10&`
			).then( ( resp ) => resp.json() )
				.then( ( data ) => {
					// Make sure this data is still relevant first.
					if ( currentSearchTerm.value === value ) {
						// If there are results, format them into an array of
						// SearchResults to be passed into TypeaheadSearch for
						// display as a menu of suggestions.
						searchResults.value = data.pages && data.pages.length > 0 ?
							adaptApiResponse( data.pages ) :
							[];

					}
				} ).catch( () => {
					searchResults.value = [];
				} );
		}

		function onUpdateSelected( s ) {
			if ( s ) {
				recordVotes( getUser(), lang, [ s ], {} )
					.then( () => {
						router.replace( 'rec' );
					} );

			}
		}

		return {
			searchResults,
			selectedItem,
			onInput,
			menuConfig: {
				boldLabel: true,
				showThumbnail: true
			},
			onUpdateSelected
		};
	}
} );
</script>
